<!DOCTYPE html>
<html lang="en">
 <%- include('../partials/head') %>
<body>
    <%- include('../partials/adminHeader') %>


    <div id="succses-message-cnt">
        <p id="succses-message">Product updated successfully</p>
    </div>

    <section class="add-product">
        <h2>Update Product</h2>
        <%if(errors.message){%>
            <p class="error"><%=errors.message%></p>
        <%}%>
        <form onsubmit="updateProduct('<%=product._id%>', event)" action="/add-product"  id="update-product-form">
            <input type="text" name="title" value="<%=product.title%>" placeholder="Title" >
            <input type="number" name="price" value="<%=product.price%>" step="0.01" placeholder="Price">
            <input type="file" name="image" accept="image/*" />
            <textarea name="description"><%=product.description%></textarea>
            <button onclick="showSuccsessMessage()" id="update-product" type="submit">Update Product</button>
        </form>
    </section>

    <script src="/js/main.js"></script>
</body>
</html>