<!DOCTYPE html>
<html lang="en">
 <%- include('../partials/head') %>
<body>
    <%- include('../partials/adminHeader') %>

    <h1>All Users</h1>
    <section class="wrapper-section">
        <%users.forEach((user, index)=>{%>
            <div class="wrapper">
                <h2><%=user.username%></h2>
                <h3><%=user.email%></h3>
                <div>
                    <button id="edit" class="admin-btn"><a href="/admin/user/<%=user._id%>/edit">Edit</a></button>
                    <button class="admin-btn">Delete</button>
                </div>
            </div>
        <%})%>

    </section>

    <script src="/js/main.js"></script>

</body>
</html>
