<!DOCTYPE html>
<html lang="en">
 <%- include('partials/head') %>
<body>
    <%- include('partials/header') %>
    <h1>Cart List</h1>

    <%if(cart.length == 0){%>
        <p class="center">Cart Empty</p>
    <%} else {%>
        <div class="cart-wrap">
            <%cart.forEach((item)=>{%>
                <div class="center" data-product-id="<%= item.product._id.toString() %>">
                    <p class="quantity">quantity: <span class="qty"><%=item.quantity%></span></p>
                    <div>
                        <button id="quantity-btn" onclick="updatecartQuantity('<%=item.product._id.toString()%>', 'increase')">add quantity</button>
                        <button id="quantity-btn" onclick="updatecartQuantity('<%=item.product._id.toString()%>', 'decrease')">decrease quantity</button>
                    </div>
                    <h2><%=item.product.title%></h2>
                    <h3><%=item.product.price%></h3>
                    <p><%=item.product.description%></p>

                    <div class="cart-operation">
                        <button id="hidenBTN" onclick="deleteProductFromCart('<%= item.product._id.toString() %>')" >Remove From Cart</button>
                    </div>
                </div>

                <h3 class="total">Total: <span class="total-price"><%=total%></span></h3>
            <%})%>
        </div>
    <%}%>
    <script src="/js/main.js"></script>
</body>
</html>
