<!DOCTYPE html>
<html lang="en">
 <%- include('partials/head') %>
<body>
    <%- include('partials/header') %>

        <h1>Update User Profile </h1>
        <%if(errors.message){%>
            <p class="error center"><%=errors.message%></p>
        <%}%>

        <div class="update-user-profile-cnt">
            <div class="update-user-image">
                <h3>User Image</h3>
                <img class="rounded" src="<%=user.image%>" alt="User Image" width="24" height="24" />
                <button class="delete-image" onclick="deleteUserProfileImage('<%=user._id%>', event)">Delete Image</button>
                
                <form id="upload-profile-image" onsubmit="updateUserProfileImage('<%=user._id%>', event)" action="/user/<%=user._id%>/upload/image">
                    <input type="file" name="image" />
                    <button type="submit">Update Photo</button>
                </form>
            </div>   
            
            <form onsubmit="updateUserProfile('<%=user._id%>', event)" id="update-user-form" class="update-user" action="/user/<%=user._id%>/edit" >
                <input type="text" name="username" placeholder="Enter Username"/>
                <input type="email" name="email" placeholder="Enter Email"/>
                <input type="password" name="password" placeholder="Enter password"/>
                <input type="password" name="confirPassword" placeholder="Repeat password"/>
                <button type="submit">Update Profile</button>
            </form>
        </div>



    <script src="/js/main.js"></script>
</body>
</html>