<!DOCTYPE html>
<html lang="en">
 <%- include('partials/head') %>
<body>
    <%- include('partials/header') %>
    
    <%if(errors.message) {%>
        <div class="error-message">
            <p class="error"><%=errors.message%></p>
        </div>
    <%}%>
    <section class="product-item">
        <div class="wrapper">
            <img class="rounded" src="<%=product.image%>" alt="User Image" width="120" height="120" />
            <h2><%=product.title%></h2>
            <p><%=product.price%></p>
            <p><%=product.description%></p>
            <div>
                <p>Created By <span class="autor"><%= username ? username : 'Unknown' %></span></p>
            </div>
            <% 
                const creator = users.find(user => user._id.toString() === product._id.toString());
            %>
            <%if(isLogged){%>
                <div class="cart-operation">
                    <form action="/cart/<%=product._id.toString() %>" method="POST">
                        <input type="submit" value="Add Cart">
                    </form>
                    <% if (creator) { %>
                        <button onclick="deleteProductFromCart('<%= product._id.toString() %>')" type="submit">Remove From Cart</button>
                    <% } %>
                </div>
            <%}%>
        </div>
        <a href="/products">Back To Products Page</a>
    </section>
</body>
</html>