<!DOCTYPE html>
<html lang="en">
    <%- include('partials/head') %>
<body>
   <%- include('partials/header') %>

    <h1>Products Page</h1>

    <div class="products-cnt">
        <%if(products.length == 0) {%>
            <h2>Product Not Found!</h2>
        <%} else {%>
            <% products.forEach((item)=> { %>
                <div class="product-wrap">
                    <h2><%=item.title%></h2>
                    <h3><%=item.price%></h3>
                    <p><%=item.description%></p>
                    <a href="/product/<%=item.id%>">See More</a>
                </div>
            <%})%>

        <%}%>
    </div>

       

    


</body>
</html>