<!DOCTYPE html>
<html lang="en">
 <%- include('partials/head') %>
<body>
    <%- include('partials/header') %>
    
    <%if(errors.message) {%>
        <div class="error-message">
            <p class="error"><%=errors.message%></p>
        </div>
    <%}%>
    <section class="product-item">
        <div class="wrapper">
            <h2><%=product.title%></h2>
            <p><%=product.price%></p>
            <p><%=product.description%></p>
            <div>

                <p>Created By <span class="autor"><%= username ? username : 'Unknown' %></span></p>
            </div>
        </div>
        <a href="/products">Back To Products Page</a>
    </section>
</body>
</html>