<!DOCTYPE html>
<html lang="en">
 <%- include('partials/head') %>
<body>
    <%- include('partials/header') %>
    <section class="login">
        <h2>New Password</h2>
        <%if(errors.message){%>
            <p class="error-message"><%=errors.message%></p>
        <%}%>
        <form action="/reset/<%=user.token%>" method="POST">
            <input type="password" value="<%= reqBody.password || '' %>" name="password" placeholder="Enter Password">
            <input type="password" value="<%= reqBody.confirmPassword || '' %>" name="confirmPassword" placeholder="Enter Confirm Password" >
            <button type="submit">Reset Password</button>
        </form>
    </section>
</body>
</html>