<!DOCTYPE html>
<html lang="en">
 <%- include('partials/head') %>
<body>
     <nav>
        <a href="/">Home</a>
        <a href="/products">Products</a>
     </nav>
    <section class="signup">
        <h2>Sign Up</h2>
        <%if(errors.message){%>
            <p class="error-message"><%=errors.message%></p>
        <%}%>
        <form action="/signup" method="POST" enctype="multipart/form-data">
            <input type="text" value="<%= reqBody.username || '' %>" name="username" placeholder="Enter Username">
            <input type="email" value="<%= reqBody.email || '' %>" name="email" placeholder="Enter Email">
            <input type="password" value="<%= reqBody.password || '' %>" name="password" placeholder="Enter Password">
            <input type="password" value="<%= reqBody.confirmPassword || '' %>" name="confirmPassword" placeholder="Enter Confirm Password" >
            <input type="file" name="image" accept="image/*" />
            <button type="submit">Sign Up</button>
        </form>
    </section>
</body>
</html>